//---------------------------------------
mixin sidebar__item(media, name, year, img)
	a.sidebar__item(href=img+'.html')
		.sidebar__item--l
			h5=media
		.sidebar__item--c
			.sidebar_item--img
				picture#img--hide
					source(srcset='/img/'+img+'_0.avif', type='image/avif')
					source(srcset='/img/'+img+'_0.webp', type='image/webp')
					source(srcset='/img/'+img+'_0.jpg', type='image/jpg')
					img(src='/img/'+img+'_0.webp', alt=name)
			h2=name
		.sidebar__item--r
			h5=year
//---------------------------------------
mixin sidebar__item--en(media, name, year, img)
	a.sidebar__item(href=img+'--en.html')
		.sidebar__item--l
			h5=media
		.sidebar__item--c
			.sidebar_item--img
				picture#img--hide
					source(srcset='/img/'+img+'_0.avif', type='image/avif')
					source(srcset='/img/'+img+'_0.webp', type='image/webp')
					source(srcset='/img/'+img+'_0.jpg', type='image/jpg')
					img(src='/img/'+img+'_0.webp', alt=name)
			h2=name
		.sidebar__item--r
			h5=year
//---------------------------------------
mixin main__img(img, width, height)
	picture

		source(srcset='/img/'+img+'--1080.avif', type='image/avif', media='(max-width:889px)',width=width, height=height)
		source(srcset='/img/'+img+'--1920.avif', type='image/avif', media='(min-width:890px)',width=width, height=height)

		source(srcset='/img/'+img+'--1080.webp', type='image/webp', media='(max-width:889px)',width=width, height=height)
		source(srcset='/img/'+img+'--1920.webp', type='image/webp', media='(min-width:890px)',width=width, height=height)

		source(srcset='/img/'+img+'--1080.jpg', type='image/jpg', media='(max-width:889px)',width=width, height=height)
		source(srcset='/img/'+img+'--1920.jpg', type='image/jpg', media='(min-width:890px)',width=width, height=height)

		img(src='/img/'+img+'--1920.webp', alt="image", style='width:100%; height:auto;')
//---------------------------------------
mixin marquee(text)
	.marquee
		.track
			.content
				p.f-l.fw-b.c-d=text
//---------------------------------------
mixin summary__info--detail(year, media, components, dimensions)
	p.pb.fw-b año: 
		span.fw-r=year
	p.pb.fw-b medio: 
		span.fw-r=media
	p.pb.fw-b componentes: 
		span.fw-r=components
	p.pb.fw-b dimensiones: 
		span.fw-r=dimensions
//---------------------------------------
mixin summary__info--detail--en(year, media, components, dimensions)
	p.pb.fw-b year: 
		span.fw-r=year
	p.pb.fw-b media: 
		span.fw-r=media
	p.pb.fw-b components: 
		span.fw-r=components
	p.pb.fw-b dimensions: 
		span.fw-r=dimensions
//---------------------------------------